<h3><%= @user.first_name %>'s Account</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, sed culpa animi dignissimos ab aspernatur ex quam aperiam quae ipsum impedit officiis, fugit, adipisci, delectus aliquam quod consequatur quo voluptatem.</p>

<h3>Sources</h3>
<ul>
	<li>Available (click to authorize)</li>
	<li>
		<ul>
			<li>Dropbox</li>
		</ul>
	</li>
	<li>Authorized</li>
	<li>
		<ul>
		</ul>
	</li>	
</ul>

<h3>Social Networks</h3>
<ul>
	<li>Available (click to authorize)</li>
	<li>
		<ul>
			<% if !destination || !destination.twitter_token %>
				<li><a href="/twitter-authenticate">Twitter</a></li>
			<% end %>
		</ul>
	</li>
	<li>Authorized</li>
	<li>
		<ul>
			<% if !!destination && destination.twitter_token %>
				<li><a href="/twitter-disable">Twitter</a></li>
				<li><a href='/test-tweet'>Send a tweet</a></li>
			<% end %>
		</ul>
	</li>	
</ul>
