<h3><%= @user.first_name %>'s Account</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, sed culpa animi dignissimos ab aspernatur ex quam aperiam quae ipsum impedit officiis, fugit, adipisci, delectus aliquam quod consequatur quo voluptatem.</p>

<h3>Your sources with Weeker</h3>
  <ul>
    <% if @user.dropbox_token %>
    <li>Dropbox</li>
    <% else %>	
    <li><a href="/sources/new">Dropbox</a></li>
    <% end %>
  </ul>

<h3>Your social networks with Weeker</h3>
  <ul>
    <% if @user.destinations.first.twitter_token %>
    <li>Twitter</li>
    <% else %>
    <li><a href="/twitter-authenticate">Twitter</a></li>
    <% end %>
    <% if @user.destinations.first.tumblr_token %>
    <li>Tumblr</li>
    <% else %>
    <li><a href="/tumblr-authenticate">Tumblr</a></li>
    <% end %>
  </ul>

<h4>Disconnect your social networks</h4>
  <ul>
    <% if !!@user.destinations && @user.destinations.first.twitter_token %>
    <li><a href="/twitter-disable">Disconnect your Twitter account</a></li>
    <% end %>
    <% if !!@user.destinations && @user.destinations.first.tumblr_token %>
    <li><a href="/tumblr-disable">Disconnect your Tumblr account</a></li>
    <% end %>
  </ul>

<h4>Push your work up early</h4>
<p><strong>Warning!</strong> This will clear your current folder and archive all the contents <em>before</em> this week's deadline.</p>
  <form action="/sources/add-image" method="get">
    <button class="button--red button--red-hover">Force Upload</button>	
  </form>


<a href="/tumblr-testing">Test tumblr access</a>