<h3><%= @user.first_name %>'s Account</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, sed culpa animi dignissimos ab aspernatur ex quam aperiam quae ipsum impedit officiis, fugit, adipisci, delectus aliquam quod consequatur quo voluptatem.</p>