<h4>What is Weeker?</h4>
<p>
	Weeker is an app that'll grab things from your Dropbox and post them to Twitter for you on a weekly basis.
</p>
<h4>Who's it for?</h4>
<p>
	Weeker was designed by <a href="/developers">people who like creating things</a> (like cartoons, pieces of writing, sick riffs, web apps, games, programs, photos— you get it), but who aren't great at giving themselves deadlines.
</p>
<h4>What does it do?</h4>
<p>
	Every Monday, Weeker grabs anything and everything you've put into the <code>App/Weeker/this-week</code> folder in your Dropbox.
</p>
<p>
	Then we post a message with that content to the social networks you hook into— Twitter is our favorite, and Tumblr, Facebook, Soundcloud, and more are coming soon.
</p>
<p>
	If you make something, it's up and out for the world to see— fear of first drafts be damned— and if you don't, all your subscribers know about it. Self-induced creativity blackmail!
</p>
<h4>When's the deadline?</h4>
<p>
	Every Monday, 5:30pm.
</p>
<h4>Where do I sign up?</h4>
<p><a href="/users/new">Click me</a> to start making stuff.</p>
