<h3>Developers</h3>

<ul class="developer__list">
	<li class="dev__item">
		<a href="http://github.com/tommchenry">
			<img class="dev__image" src="https://avatars3.githubusercontent.com/u/6570644?v=3&s=200" alt="Tom, cartoonist, knucklehead">
			<p>Tom McHenry</p>
		</a>
	</li>
	<li class="dev__item">
		<a href="http://github.com/bobdorff">
			<img class="dev__image" src="https://avatars0.githubusercontent.com/u/15076968?v=3&s=200" alt="Bob, musician, tiny figure painter">
			<p>Bob Dorff</p>
		</a>
	</li>
	<li class="dev__item">
		<a href="http://github.com/kenworthyc">
			<img class="dev__image" src="https://avatars3.githubusercontent.com/u/8725058?v=3&s=200" alt="Caroline, rock climber, beverage enthusiast">
			<p>Caroline Kenworthy</p>
		</a>
	</li>
	<li class="dev__item">
		<a href="http://github.com/pdynowski">
			<img class="dev__image" src="https://avatars3.githubusercontent.com/u/10245906?v=3&s=200" alt="Paul, board game collector, reluctant DevOps">
			<p>Paul Dynowski</p>
		</a>
	</li>
</ul>
