<h2>Add a social network</h2>
  <p>When you give us access to your social network accounts, we'll post your weekly creations to the authorized accounts with a message of your choice.</p>
  <p>If you don't contribute to the this-week folder when the week is up, we'll post a message!</p>
  <h3>Pick your network</h3>
  <ul>
    <li><a href="/twitter-authenticate">Twitter</a></li>
  </ul>
