<%if @user%>
    <h3>Hello, <%= @user.first_name %>!</h3>
<%end%>

<p><strong>Weeker will keep you accountable.</strong></p> 
<p>Make something you want to share on the internet— take a photo, write a story, make a website, draw in a sketchbook. Place it in your Dropbox, and Weeker will post it on your preferred social networks.</p>
<p>If you don't contribute anything new by the end of the week, Weeker will post a message for that too!</p>
<p>Sign up today and start making stuff.</p>
